/***** RESET *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** DEBUG ****/

.debug header {
    height: 80px;
    background-color: #add8e6;
}

.debug nav {
    background-color: #daa520;
    height: 50px;
    width: 80%;
}

.debug nav > * {
    border: 2px dotted black;
}

.debug .section-1 {
    height: 500px;
    background-color: #00008b;
}

.debug .section-1 div {
    background-color: #ee82ee;
    height: 400px;
    width: 60%;
    border: 2px dotted black;
}

.debug .section-2 {
    height: 600px;
}

.debug .section-2 .wrapper {
    height: 500px;
    width: 80%;
}

.debug .section-2 .content-1 {
    background-color: #1e90ff;
    height: 500px;
}

.debug .section-2 .content-2 {
    background-color: #ffc0cb;
    height: 500px;
}

/**** HEADER ***/

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > * {
    flex-grow: 1;
    padding: 15px;
}

nav .links {
    flex-grow: 2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .login {
    text-align: right;
}

/***** MAIN ****/

/* SECTION 1 */

main .section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 2 */

main .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-2 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .content-1 {
    flex-grow: 2;
}

.wrapper .content-2 {
    flex-grow: 1;
}
