/***** RESET *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    all: unset;
}

/**** DEBUG ****/

.debug .wrapper > *,
.wrapper:empty,
.debug nav > * {
    border: 2px dotted black;
}

.debug nav {
    background-color: #daa520;
}

.debug .section-1 .wrapper {
    background-color: #ee82ee;
    height: 400px;
}

.debug .section-2 .content-1 {
    background-color: #1e90ff;
    height: 500px;
}

.debug .section-2 .content-2 {
    background-color: #ffc0cb;
    height: 500px;
}

.debug .section-3 .content-1 {
    background-color: #1e90ff;
    height: 500px;
}

.debug .section-3 .content-2 {
    background-color: #ffc0cb;
    height: 500px;
}

.debug .section-4 .content-1 {
    background-color: #1e90ff;
    height: 500px;
}

.debug .section-4 .content-2 {
    background-color: #ffc0cb;
    height: 500px;
}

.debug .section-5 .wrapper {
    background-color: #228b22;
    height: 900px;
}

.debug .section-6 .wrapper {
    background-color: #228b22;
}

.debug .section-6 .content-1 {
    background-color: #20b2aa;
}

.debug .section-6 .content-2 {
    background-color: #f08080;
    height: 580px;
}

.debug .section-6 .content-1 > div {
    border: 2px dotted white;
}

.debug .section-7 .wrapper {
    background-color: #7fffd4;
}

.debug .section-7 .wrapper > * {
    background-color: #ffb6c1;
}

/**** COMMON *****/

.bg-1 {
    background-color: #add8e6;
}
.bg-2 {
    background-color: #00008b;
}

.bg-3 {
    background-color: #d3d3d3;
}

.bg-4 {
    background-color: #23272a;
}

header,
footer .section-7,
.section-7 .wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section > div,
nav {
    margin: 0 auto;
}

.wrapper,
nav {
    width: 80%;
}

.wrapper .content-1,
nav .links {
    flex-grow: 2;
}

.wrapper .content-2,
nav > * {
    flex-grow: 1;
}

/**** HEADER ***/

nav {
    display: flex;
}

nav > * {
    padding: 10px;
}

nav .links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .login {
    text-align: right;
}

/***** MAIN ****/

/* SECTION 1 */

main .section-1 .wrapper {
    width: 60%;
}

/* SECTION 2 */

main .section-2 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 3 */

main .section-3 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

/* SECTION 4 */

main .section-4 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** FOOTER *****/

/* SECTION 6 */

footer .section-6 {
    border-bottom: 1px solid #c4c4c4;
    padding-top: 5px;
}

footer .section-6 .wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.section-6 .wrapper .content-1 {
    display: flex;
}

.section-6 .wrapper .content-1 > div {
    flex-grow: 1;
}

/* SECTION 7 */

footer .section-7 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

footer .section-7 .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-7 .wrapper > * {
    padding: 5px;
}
