/***** RESET *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** DEBUG ****/

.debug header {
    height: 80px;
    background-color: #add8e6;
}

.debug nav {
    background-color: #daa520;
    height: 50px;
    width: 80%;
}

.debug nav > * {
    border: 2px dotted black;
}

.debug .section-1 {
    height: 500px;
    background-color: #00008b;
}

.debug .section-1 div {
    background-color: #ee82ee;
    height: 400px;
    width: 60%;
    border: 2px dotted black;
}

.debug .section-2 {
    height: 600px;
}

.debug .section-2 .wrapper {
    height: 500px;
    width: 80%;
}

.debug .section-2 .content-1 {
    background-color: #1e90ff;
    height: 500px;
}

.debug .section-2 .content-2 {
    background-color: #ffc0cb;
    height: 500px;
}

.debug .section-3 {
    background-color: #d3d3d3;
    height: 600px;
}

.debug .section-3 .wrapper {
    height: 500px;
    width: 80%;
}

.debug .section-3 .content-1 {
    background-color: #1e90ff;
    height: 500px;
}

.debug .section-3 .content-2 {
    background-color: #ffc0cb;
    height: 500px;
}

.debug .section-4 {
    height: 600px;
}

.debug .section-4 .wrapper {
    height: 500px;
    width: 80%;
}

.debug .section-4 .content-1 {
    background-color: #1e90ff;
    height: 500px;
}

.debug .section-4 .content-2 {
    background-color: #ffc0cb;
    height: 500px;
}

.debug .section-5 {
    background-color: #d3d3d3;
    height: 1000px;
}

.debug .section-5 .wrapper {
    background-color: #228b22;
    height: 900px;
    width: 80%;
}

.debug .section-6 {
    background-color: #23272a;
    height: 630px;
}

.debug .section-6 .wrapper {
    background-color: #228b22;
    height: 580px;
    width: 80%;
}

.debug .section-6 .content-1 {
    background-color: #f08080;
    height: 580px;
}

.debug .section-6 .content-2 {
    background-color: #20b2aa;
    height: 580px;
}

.debug .section-6 .content-2 > div {
    border: 2px dotted white;
}

/**** HEADER ***/

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > * {
    flex-grow: 1;
    padding: 15px;
}

nav .links {
    flex-grow: 2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .login {
    text-align: right;
}

/***** MAIN ****/

/* SECTION 1 */

main .section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 2 */

main .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-2 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .content-1 {
    flex-grow: 2;
}

.wrapper .content-2 {
    flex-grow: 1;
}

/* SECTION 3 */

main .section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-3 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .wrapper .content-1 {
    order: 1;
}

/* SECTION 4 */

main .section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .section-4 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 5 */

main .section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 6 */

main .section-6 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #c4c4c4;
}

main .section-6 .wrapper {
    margin-top: 10px;
    display: flex;
}

main .section-6 .wrapper > div {
    border: 2px dotted black;
}

.section-6 .wrapper .content-2 {
    display: flex;
}

.section-6 .wrapper .content-2 > div {
    flex-grow: 1;
}

.section-6 .wrapper .content-1 {
    flex-grow: 1;
}

.section-6 .wrapper .content-2 {
    flex-grow: 2;
}
